* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(24, 252, 3, 0.36);
    background: -moz-linear-gradient(-45deg, rgba(24, 252, 3, 0.36) 0%, rgba(252, 186, 3, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(24, 252, 3, 0.36)), color-stop(100%, rgba(252, 186, 3, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(24, 252, 3, 0.36) 0%, rgba(252, 186, 3, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(24, 252, 3, 0.36) 0%, rgba(252, 186, 3, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(24, 252, 3, 0.36) 0%, rgba(252, 186, 3, 1) 100%);
    background: linear-gradient(135deg, rgba(24, 252, 3, 0.36) 0%, rgba(252, 186, 3, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18fc03', endColorstr='#fcba03', GradientType=1);
    background-attachment: fixed;
}

p {
    font-weight: bold;
    font-size: 18px;
}

h2 {
    margin: 10px;
}

input {
    margin: 5px;
    padding: 4px 3px;
    border-radius: 2px;
    text-align: center;
}

li {
    list-style: none;
}

li:before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 15px;
    background-image: url("http://pluspng.com/img-png/free-png-knitting-needles-and-yarn-download-this-image-as-600.png");
    background-size: contain;
    background-repeat: no-repeat;
}

form {
    margin: 20px;
}

form button {
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    background: rgb(226, 226, 226);
    border-radius: 0 0 2px 2px;
    text-align: center;
    z-index: 1;
}

#ladujWloczkiForm {
    margin: 10px 0 0 20px;
}


.backButton {
    position: fixed;
    top: 0;
    right: 100px;
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    background: rgb(226, 226, 226);
    border-radius: 0 0 2px 2px;
    text-align: center;
    z-index: 1;
}

#motyw p:first-child {
    position: absolute;
    top: 12px;
    right: 70px;
}

#motyw p:last-child {
    position: absolute;
    top: 12px;
    right: 5px;
}

#motyw .motywRamka {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 18px;
    background: white;
    border: 2px solid black;
    border-radius: 12px;
}

#motyw .motywSwitch {
    position: relative;
    left: 0px;
    width: 18px;
    height: 18px;
    background: black;
    border-radius: 12px;
}

.zapisaneStrony {
    margin: 10px 20px;
}

#ostatniaAktualizacja {
    position: absolute;
    top: 70px;
    right: 200px;
    width: auto;
    height: auto;
    overflow-y: auto;
    padding: 20px;
    border: 2px dashed black;
}

#ostatniaAktualizacja .aktualizacjaContainer div {
    display: inline;
    margin: 0 5px;
}

.checkboxContainer {
    min-width: 200px;
    overflow: auto;
    margin: 10px 0 0 55px;
    border-collapse: collapse;
}

.checkboxContainer label {
    display: block;
}

.buttons>input,
.buttons .checkboxContainer {
    float: left;
    overflow: auto;
    margin: 10px 0 0 10px;
}

.checkboxContainer td {
    border: 1px solid black;
}

.checkboxContainer tr td:first-child {
    text-align: center;
}

.checkboxContainer tr:first-child {
    background: lightgoldenrodyellow;
}

#checkAll {}

#timer {
    position: absolute;
    top: 50px;
    right: 160px;
    font-size: 18px;
    font-weight: bold;
}

.content {
    margin: 0 20px;
    border: 2px dashed gray;
    width: 600px;
    height: 300px;
    overflow: auto;
}

.timerButtons {
    position: absolute;
    right: 155px;
    display: none;
}

.wloczkiWszystkie div {
    display: block;
    float: left;
    margin: 5px;
    padding: 0;
}

.wloczkaBox {
    height: 150px;
    width: 300px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 0 5px white;
    background: lightskyblue;
}

.wloczkaBox p {
    display: block;
    text-align: center;
    width: 70%;
    margin: 5px;
}

.wloczkaBox span {
    margin: 5px;
    display: block;
    text-align: center;
}

.wloczkaBox img {
    max-width: 30%;
    max-height: calc(100% - 10px);
    text-align: center;
    float: right;
    margin: 5px;
}

.wloczkaBox input {
    width: 50px;
}

/* #alfabetycznieR, #alfabetycznieF{
    border: 2px solid black;
    font-size: 1vw;
    text-align: center;
    background: pink;
    margin: 0 auto;
    height: 50px;
    width: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} */


.filterContainer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    padding-top: 50px;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgb(68, 12, 12);
    z-index: 1;
}

.filterContainer a {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 20px;
    color: lightgray;
    transition: 0.3s;
}

.filterContainer a:hover {
    color: white;
    cursor: pointer;
}

.filterContainer .zamknijFiltry {
    display: block;
    position: relative;
    top: -40px;
    left: 200px;
    font-size: 36px;
    max-width: 40px;
    color: white;
    cursor: pointer;
}

.filtry {
    font-size: 20px;
    cursor: pointer;
    background: rgb(68, 12, 12);
    color: white;
    padding: 10px 15px;
    border: none;
}

.filtry:hover {
    background-color: green;
}

#otworzFiltry {
    position: fixed;
    top: 50px;
    right: 0;
    transition: margin-right .5s;
}

.filter>a {
    margin-left: 50px;
    /* text-align: center; */
}